[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "*"
utils = "*"
auto-sklearn = "*"
gensim = "*"
pip = "*"
install = "*"
scipy = "==1.10.1"
keras = "*"
tensorflow = "*"
keras-preprocessing = "*"
nltk = "*"
jupyter = "*"

[dev-packages]

[requires]
python_version = "3.9"
